@import "variables";

.banner-bottom {
    margin: 0;
}

//normal styles view
.character {
    margin: 0;
    width: 300px;
    height: 300px;
    justify-content: flex-end;
    padding: 0;
    @media (min-width: 768px) {
        width: 100%;
        height: 140px;
        justify-content: start;
    }
    @media (min-width: 1100px) {
        height: 170px;
    }
}
.character__left {
    display: flex;
    align-items: start;
    .character__heading {
        font-size: 2rem;
        margin: 0;
    }

    .character__heading,
    .character__description {
        color: white;
        position: relative;
    }
    .character__description {
        font-size: 1.2rem;
        margin: 0;
        margin-top: 6px;
        height: 30px;
        overflow: hidden;
        @media (min-width: 768px) {
            height: 43px;
        }
        @media (min-width: 1100px) {
            font-size: 1rem;
           
        }
    }
    @media (min-width: 768px) {
        align-items: flex-start;
        width: 100%;
    }
}
.character__presentation {
    width: 100%;
    text-align: left;
    margin: 0;
    span {
        display: block;
        text-align: left;
    }

    @media (min-width: 768px) {
        padding-left: 22%;
        padding-top: 20px;
    }
}

.character__information {
    @media (min-width: 768px) {
        justify-content: space-between;
        display: flex;
        align-items: start;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;

        background: rgba(133, 133, 133, 0.27);
        background: linear-gradient(
            to right,
            rgba(133, 133, 133, 0.27) 0%,
            rgba(121, 121, 121, 1) 52%,
            rgba(133, 133, 133, 0.79) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#858585', endColorstr='#858585', GradientType=1 );
    }
}

.character__button:before,
.character__button:after,
.character__left--status {
    width: 31px;
    height: 31px;
    position: relative;
    background-color: antiquewhite;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 13px;
    @media (min-width: 1100px) {
        width: 45px;
        height: 45px;
        background-size: 55%;
    }
}
.character__left--status {
    margin-right: 3px;
}

.character__button--up:before,
.character__status--up,
.character__button--up:after {
    background-image: url(/assets/img/thumbs-up.svg);
    background-color: $color-green-positive;
}

.character__button--down:before,
.character__status--down,
.character__button--down:after {
    background-image: url(/assets/img/thumbs-down.svg);
    background-color: $color-yellow-negative;
}

.character__button--down:after,
.character__button--up:after {
    border: 2px solid white;
}

.character-bottom .character__cta {
    width: 108px;
    padding: 0.6rem 0;
    font-size: 1.3rem;
    color: white;
    opacity: 0.8;
    padding: 0.8rem;
    border: 1px solid white;
    @media (min-width: 1100px) {
        width: 135px;
        height: 45px;
        font-size: 1.2rem;
        line-height: 45px;
        padding: 0;
    }
}

.character__time {
    color: white;
    position: relative;
    flex: 0 1 100%;
    text-align: end;
}

.character__right {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-right: 34px;
    margin-bottom: 10px;
}

.character__votes {
    width: 100%;
    height: 35px;
    position: relative;
    opacity: 0.8;
    display: flex;
    @media (min-width: 768px) {
        position: absolute;
        bottom: 0;
        z-index: 3;
    }
    @media (min-width: 1100px) {
        height: 50px;
    }
}

.character__votes--background {
    width: 100%;
    background: $color-yellow-negative;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.character__votes--up,
.character__votes--down {
    width: 50%;
    height: 100%;
    background-color: $color-green-positive;
    position: relative;
}

.character__votes--down {
    background: $color-yellow-negative;
}

.character__percentage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}
.character__percentage__img {
    width: 18px;
    height: 18px;
    position: relative;
    z-index: 2;
}

.character__percentage__span {
    color: white;
    position: relative;
    z-index: 2;
    font-size: 1.7rem;
}

.character__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    pointer-events: none;
    opacity: 1;
    @media (min-width: 768px) {
        position: relative;
        top: initial;
        left: initial;
        width: 20%;
        object-fit: cover;
        z-index: 1;
        pointer-events: none;
    }
}

form {
    display: flex;
    width: 190px;
    align-items: flex-start;
    justify-content: flex-end;
    @media (min-width: 1100px) {
        width: 250px;
    }
}
.character__cta-hidden {
    width: 134px !important;
}
.character__cta-hidden,
.character__time--hidden {
    display: none;
}

.character__cta.active {
    background-color: $color-darker-gray;
}

.character__cta.inactive {
    background-color: $color-dark-gray;
}
.character__form--new {
    .character__cta-visible,
    .character__button--up,
    .character__button--down,
    .character__time--visible {
        display: inline-block;
    }

    .character__cta-hidden,
    .character__time--hidden {
        display: none;
    }
}

.character__form--again {
    .character__cta-hidden {
        display: inline-block;
    }
    .character__time--hidden {
        display: block;
    }
    .character__cta-visible,
    .character__button--up,
    .character__button--down,
    .character__time--visible {
        display: none;
    }
}
//view grid
.character.grid {
    margin: 0;
    width: 350px;
    height: 350px;
    justify-content: end;
    flex-direction: column;
    padding: 0;

    .character__left {
        display: flex;
        align-items: start;
    }
    .character__heading {
        font-size: 1.8rem;
    }
    .character__description {
        font-size: 0.9rem;
        margin: 0;
        margin-top: 6px;
        max-height: 37px;
        overflow: hidden;
    }

    .character__presentation {
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .character__button,
    .character__left--status {
        width: 31px;
        height: 31px;
        position: relative;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 13px;
    }
    .character__right {
        padding-right: 0;
    }
    .character__cta {
        width: 108px;

        font-size: 1rem;
        background-color: $color-darker-gray;
        color: white;
        opacity: 0.8;
        height: 40px;
        line-height: 40px;
        border: 1px solid white;
    }
    .character__votes {
        width: 100%;
        height: 35px;
        position: relative;
        opacity: 0.8;
    }
    .character__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
        pointer-events: none;
    }
    .character__information {
        display: flex;
        align-items: normal;
        width: 100%;
        height: inherit;
        position: initial;
        z-index: 1;
        background: none;
        flex-direction: column;
        justify-content: flex-end;
        padding-right: 34px;
    }
    .character__percentage__span {
        font-size: 1.2rem;
    }

    .character__time {
        font-size: 0.7rem;
    }
}
