<div id="{{id}}" class="character {{view}} character-bottom" role="doc-tip" aria-label="Submit a name">
    
    <img
        srcset="assets/img/{{picture}}"
        sizes="(min-width: 750px) 1440px, 100vw"
        class="character__background" src="assets/img/bg-people.png"
        alt="{{name}}"
        role="none">
        <div class="character__information">
            <div class="character__left">
                <div class="character__left--status character__status--down"></div>
                <p class="character__presentation">
                    <span class="character__heading" >{{name}}</span>
                    <span class="character__description">{{description}}</span>
                </p>
              </div>
            <div class="character__right character__form--new"   id="votes_{{id}}">
                <p class="character__time character__time--hidden" id="time_again_{{id}}">Thank you for your vote!</p>
                <p class="character__time character__time--visible" id="time_{{id}}">{{this._lastUpdated}} in {{category}}</p>
                <form [formGroup]="form" id="form_{{id}}"  novalidate>
                   
                    <input required type="radio" formControlName="vote" 
                    action="Autenticacion" category="TDCPopular" label="RadioResidencialFiscal" id="positive_{{id}}" value="positive">
                    <label role="button" aria-describedby="vota positivo" id="positiveLabel_{{id}}" class="character__button character__button--up positive_{{id}}" for="positive_{{id}}"></label>
                    <input  class="" type="radio"  formControlName="vote" id="negative_{{id}}" value="negative">
                    <label role="button" aria-describedby="vota negativo" id="negativeLabel_{{id}}" class="character__button character__button--down negative_{{id}}" for="negative_{{id}}"></label>
                    <button id="button_{{id}}" [ngClass]="{'inactive':!form.valid, 'active': form.valid }" [disabled]="!form.valid" class=" character__cta character__cta-visible" (click)="onSubmit(form.value, id)" type="submit">
                        Vote Now
                    </button>
                    <button id="button_again_{{id}}" [ngClass]="{'inactive':!form.valid, 'active': form.valid }" class="character__cta character__cta-hidden" (click)="voteAgain(id)">
                        Vote Again
                    </button>
                </form>
            </div>
        </div>

    <div class="character__votes">
      
        <div class="character__votes--up" [style.width]="this.percPositivo+'%'"></div>
        <div class="character__votes--down" [style.width]="this.percNegativo+'%'"></div>
        <div class="character__percentage">
            <div class="character__percentage--left">
                <img class="character__percentage__img" src="/assets/img/thumbs-up.svg" alt="">
                <span class="character__percentage__span"> {{this.percPositivo}}%</span>
            </div>
           <div class="character__percentage-rigth">
                <img class="character__percentage__img" src="/assets/img/thumbs-down.svg" alt="">
                <span class="character__percentage__span">{{this.getPercentage(this._negative, this._total)}}%</span>
           </div>
        </div>
    </div>
</div>
